
body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2EFE5;
  color: #212121;
  font-family: "Kode Mono", monospace;
}


input{
  height:36px;
  padding:.5rem;
  color: #1B1A55;
  outline: 0;
  border-radius:8px;
  font-size:18px;
  border: 1px solid #000;
}

textarea{
  padding:.5rem;
  color: #1B1A55;
  outline: 0;
  border-radius:8px;
  border: 1px solid #000;
}